@import '../index.css';

.project-body {
    display: flex;
    padding: 1rem 2rem;
    max-height: calc(100vh - 230px);
  }

.project-left,
.project-right {
    background-color: var(--light-grey);
    border-radius: 0.5rem; 
    padding: 1rem;
}

.project-header{
    color: var(--blue-text);
}

.project-header-wrapper{
    display: flex;
    padding: 0rem 0rem 0rem 2rem;
    height: 100px;
}