@import '../../index.css';

.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;   
    border-bottom: 1px solid #e5e7eb; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); 
    transition: all 0.2s ease;   
    height: 80px;
    margin-bottom: 1rem; 
}

.header-search-wrapper{
    position: relative;
    width: 350px;
    padding: 1rem; 
}

.header-search-input {
    width: 100%;
    padding-left: 2.5rem;  
    padding-right: 1rem;  
    padding-top: 0.5rem;    
    padding-bottom: 0.5rem;
    border: 1px solid #d1d5db; 
    border-radius: 9999px; 
    outline: none;
    transition: box-shadow 0.2s ease;
    background-color:  #ffffff;
}

.header-search-input:focus {
    outline: none;
    box-shadow: 0 0 0 1px var(--yellow-color); 
}

.header-right-side{
    display: flex;
    align-items: center;
    column-gap: 1rem; 
}

.header-icon-wrapper {
    border-radius: 0.25rem;
    background-color: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    color: #787486;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.header-icon-wrapper:hover {
    background-color: #f3f4f6; 
    color: var(--orange-color); 
}

.header-user-wrapper{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1rem;
    color: #787486;  
    margin-left: 1rem;
}

.header-user-icon-wrapper{
    width: 2rem;               
    height: 2rem;               
    background-color: #787486;  
    color: white;
    border-radius: 9999px;      
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-user-icon-wrapper img {
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 9999px;
  }

.header-user-icon{
    color: #787486; 
}

.dropdown-menu {
    position: absolute;
    right: 0;
    margin-right: 1.5rem;
    background-color: #787486; 
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }
  
  .logout-button {
    font-size: 0.875rem;
    color: #ffffff;
    padding: 0.25rem 01rem;
    border-radius: 0.35rem;
    background-color: transparent;
    width: 100%;
    text-align: right;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .logout-button:hover {
    background-color: #f3f4f6;
  }
  