@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #787486;
  background-color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --pink-color: #ff70a6;
  --blue-color: #70d6ff;
  --orange-color: #FF875C;
  --yellow-color: #ffd670;

  --pink-text: #b33964;      
  --blue-text: #00A1e0;    
  --orange-text: #b3562c;      
  --yellow-text: #FFBA0A; 

  --light-grey: #f5f5f5;
  --lime-green: #64c457;
  --electric-purple: #C97DFF;
  --aqua-mint: #6CFFE1;
  --hot-orange: #FF5E3A
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



@layer components {
  .w-sidebar {
    width: 260px;
  }

  .w-sidebar-collapsed {
    width: 80px;
  }

  .sidebar-main-div{
    height: 100vh;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e5e7eb;
  }

  .sidebar-top{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e7eb; 
    margin-bottom: 1rem;             
    height: 80px;
    min-height: 80px;
    flex-shrink: 0;
    padding-left: 1rem;              
    padding-right: 1rem;
  }

  .sidebar-list{
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding-left: 0; 
    margin: 0;
    
  }

  .sidebar-list-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 48px;
    padding: 0 0.75rem;
    border-radius: 0.25rem;
    flex-grow: 1;
    transition: background-color 0.2s ease;
    font-weight: 400;
    color: var(--blue-color);
    text-decoration: none;
  }

  .sidebar-list-item:hover{
    color: var(--blue-text)
  }

  .sidebar-list-item-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .sidebar-menu {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    padding-left: 0; 
    margin: 0;
  }
  
  .sidebar.collapsed .sidebar-list-item {
    justify-content: center;
    padding: 0;
    gap: 0;
  }
  
  .sidebar.collapsed .sidebar-list-item-wrapper {
    justify-content: center; 
  }

  .sidebar-menu-item {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    transition: all 0.2s ease;
    height: 60px;
    padding: 0 1.5rem;
    gap: 1rem;
    font-weight: 500;
    color: var(--pink-color);
    text-decoration: none;
  }

  .sidebar-menu-item:hover{
    color:var(--pink-text);
    text-decoration: none;
  }

  .sidebar-menu-item svg {
    color: var(--pink-color);
  }
  
  .sidebar-menu-item:hover svg {
    color: var(--pink-text);
  }

  .sidebar.collapsed .sidebar-menu-item {
    justify-content: center;
    padding: 0; 
    gap: 0;     
  }
  
  .ellipsis-container {
    padding: 0.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    display: none;
    margin-right: 0.5rem;
    color: #9ca3af;
  }
  
  .sidebar-list-item-wrapper:hover .ellipsis-container {
    display: block;
  }
  
  .item-options-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #F5F5F5;
    border-radius: 0.25rem;
    padding: 0.25rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    z-index: 20;
    width: 100px;
  }
  
  .item-options-menu button {
    background: none;
    border: none;
    color: #787486;
    padding: 0.5rem 1rem;
    text-align: left;
    width: 100%;
    cursor: pointer;
  }
  
  .item-options-menu button:hover {
    background-color: #F5F5F5;
    font-weight: bolder;
    color: var(--blue-text);
  }


  .sidebar-icon-button {
    color: #6b7280;                    
    background-color: #ffffff;
    padding: 1rem;                    
    border: none;
    border-radius: 0.25rem;            
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
  }
  
  .sidebar-icon-button:hover {
    color: #9ca3af;                    
    background-color: #f3f4f6;         
  }
  
  .sidebar-icon-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #3b82f6;     
  }
  
  .sidebar-divider-wrapper {
    gap: 0.5rem;
    padding: 1rem;
  }

  .sidebar-divider{
    border-bottom: 1px solid #e5e7eb; 
  }
  
  .sidebar-title{
    padding: 1rem;
    height: 30px;
    min-height: 30px;
    flex-shrink: 0;
    display: flex;
    color: var(--yellow-text)
  }

  .sidebar-title-icon{
    padding-left: 1rem;
    color: var(--yellow-color);
    background-color: #ffffff;
    padding: 1rem;                    
    border: none;
    border-radius: 0.25rem;            
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease, background-color 0.2s ease;
  }

  .dashboard-body {
    display: flex;
    gap: 2rem;
    padding: 1rem 2rem;
    max-height: calc(100vh - 230px);
  }

  .dashboard-left,
  .dashboard-right {
    background-color: var(--light-grey);
    border-radius: 0.5rem; 
    padding: 1rem;
  }
  
  .dashboard-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden; 
  }
  
  .dashboard-right {
    flex: 2;
  }

  .pinned-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
    padding-right: 0.75rem; 
  }

  .pinned-cards::-webkit-scrollbar {
    width: 6px;
  }

  .pinned-cards::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 10px;
  }

  .all-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card {
    background-color: #f9fafb;
    border: 1px solid #e5e7eb;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  
  .section-title {
    font-size: 1.125rem;
    font-weight: bold;
  }

  .section-header-wrapper {
    gap: 0.5rem;
  }

  .section-header{
      display: flex;
      align-items: center;
      gap: 0.5rem;
  }
  
  .section-divider-pinned,
  .section-divider-all {
    margin-bottom: 1rem;
  }
  
  .section-divider-pinned{
    border-bottom: 2px solid var(--blue-color); 
  }

  .section-divider-all{
    border-bottom: 2px solid var(--pink-color); 
  }

  .section-dot-pinned {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--blue-color);
  }

  .section-dot-all {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--pink-color); 
  }
}

.login-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9fafb;
}

.login-card {
  background-color: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 24rem;
}

.login-title {
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--orange-color)
}

.login-input {
  width: 100%;
  background-color: var(--light-grey);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
  color:  #787486;
}

.login-input:focus{
  border: 1px solid var(--pink-color);
}

.login-button {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  margin-bottom: 0.75rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-email-button {
  background-color: var(--pink-color);
}

.login-email-button:hover {
  background-color: var(--pink-text);
}

.login-google-button {
  background-color:var(--blue-color);
}

.login-google-button:hover {
  background-color: var(--blue-text);
}

.login-divider {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.login-divider-line {
  flex: 1;
  height: 1px;
  background-color: #d1d5db;
}

.login-divider-text {
  margin: 0 0.5rem;
  color: #6b7280;
  font-size: 0.875rem;
}

.login-message {
  margin-top: 1rem;
  font-size: 0.875rem;
  text-align: center;
}

.login-message.success {
  color: #16a34a;
}

.login-message.error {
  color: #dc2626;
}
